<h1><%= @patient.name%></h1>


<% @patient.doctors.uniq.each do |doctor|%>
<p>
<%= link_to doctor.name, doctor%>
<% doctor.appointments.where(patient_id: @patient.id).each do |appt|%>
<%= appt.date%>
<%= appt.notes%>
</p>

<br>
<br>

 <% end %>

<% end %>

